@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  min-width: 500px;
  margin: 30px auto;
  min-height: 300px;
  max-height: 510px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}
.scroll{
  max-height: 400px;
  overflow: auto;
}
.container-flex{
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: green;
  color: #fff;
  border: none;
  padding: 5px 7px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.green{
  color: green;
}
.red{
  color: red;
}
.blue{
  color: blue;
}
.task h5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task span{
  padding-right: 15px;
}
.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
  
}

.form-control-flex{
  display: flex;
  align-items: center;
}
.form-control label {
  display: block;
  min-width: 90px;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}